body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section.topMenu {
    margin-top: 20px;
    height: 40px;
}

section > div.navigationMenu {
    text-decoration: none;
    display: inline;
    width: 50%;
    float: right;
    text-align: center;
}

section > div.navigationMenu a {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 22px;
}

h1 {
    font-size: 50px;
}

h1.greetings {
    margin-bottom: 0px;
}

h1.ownerName {
    color: rgb(48, 209, 88);
    margin-top: 0px;
    margin-bottom: 5px;
}

section {
    height: 530px;
}

.half {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half p {
    text-align: justify;
    margin-bottom: 25px;
    font-size: 22px;
}

.topSection > .half img {
    margin-top: 50px;
    width: 550px;
    height: 450px;
}

.half img, .third img {
    width: 100%;
}

.hireLink {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, rgb(48, 209, 88), rgb(52, 199, 89));
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: bold;
}

.middleSection {
    height: 570px;
    margin-top: 50px;
}

.middleSection > .half img {
    width: 550px;
    height: 450px;
}

.middleSection > div.half > h1 {
    margin-bottom: 15px;
}

.bottomSection {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: rgb(239, 239, 234);
    height: 800px;
}

.bottomSection h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 80px;
}

.bottomSection h3 {
    font-size: 35px;
    margin-bottom: 10px;
}

.bottomSection p {
    text-align: justify;
}

.bottomSection div {
    padding-right: 20px;
}

.subHeading {
    color: rgb(48, 209, 88);
}

.third {
    width: 26%;
    float: left;
    margin-left: 4%;
}

.signleExperience {
    box-shadow: 10px 10px 30px grey;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

.contact h2 {
    font-size: 35px;
    text-align: center;
    margin-top: 70px;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgb(48, 209, 88);
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(48, 209, 88);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
}

.contact label {
    font-size: 20px;
}

input[type=text] {
    border-radius: 30px;
}

input[type=text]:focus, textarea:focus {
    border: 1px solid  rgb(48, 209, 88);
}

.contactForm {
    margin-left: 500px;
    margin-right: 500px;
}

.social {
    text-align: center;
    height: 200px;
}

.socialIcons img {
    width: 50px;
}

footer {
    text-align: center;
}